code {
  padding: .25rem .5rem;
  border-radius: 2px;
  background: #0a121b !important;
}
pre {
  display: block;
  padding: 1.25rem;
  margin: 0 0 .875rem;
  font-size: .875rem;
  color: #f3f3f3;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #0a121b !important;
  border: 1px solid #000;
  border-radius: 4px;
}

.highlighter-rouge {
  margin: 1rem 0;
}
